footer{
	background:$black;

	.footer{
		padding-top: 80px;
		padding-bottom: 60px;
				
		@media screen and (max-width:$mobileS){
			padding-top: 30px;
			padding-bottom: 30px;
		}
		
		.footer__items{
			display: flex;
			justify-content: center;
			gap:60px;
		
			.footer__item{
			
				h4{
					margin-top:0px;
					margin-bottom: 32px;
					color:$mediumWhite;
					font-weight: 500;
					font-size: 20px;
					white-space: nowrap;
	
					&.logo{
					font-family: 'Inter', sans-serif;
					font-weight: 700;
					font-size: 24px;
					letter-spacing: 0.48px;
	
					}
				}
	
				ul{
					li{
						list-style-type: none;
	
						a{
							display: block;
							text-decoration: none;
							color:$mediumWhite;
							margin-bottom: 16px;
							font-size: 16px;
							font-weight: 400;
							
	
							&.subscribe{
								font-size: 20px;
								font-weight: 500;
								color:$mediumWhite;
								margin-bottom: 24px;
	
							}
						}
					}
					.flex{
						display: flex;
						gap:13px;
	
						.flex-img{
						display: flex;
						flex-direction: column;
						gap:13px;
	
					}
	
					}
				
					p{
						color:$white;
						font-size: 12px;
						font-weight: 500;
						opacity:0.7;
					}
	
					
				}
	
	
				.email{
					width:217px;
					position:relative;
					input[type="text"]{
						height:48px;
						background:$black;
						border: 1.5px solid $mediumWhite;
						border-radius:$br;
	
						&::placeholder{
							font-size: 16px;
							font-weight:400;
							color:$mediumWhite;
							opacity:0.4;
							padding:12px 16px;
						}
						
						
					}
	
				.icon{
						position:absolute;
						top:10px;
						right:15px;
					}
				}
	
				.social{
					
					a{
						display: block;
						padding-top:28px;
					}
				
				}
	
	
			 }

			 @media screen and (max-width:$tabletL){
				flex-wrap: wrap;
				gap:40px;
			 }
			 @media screen and (max-width:$mobileM){
				flex-direction: column;
				align-items:center;
				text-align: center;
				gap:20px;
			 }

		}	
		
		

	}
		
	.footer__text{
		border-top: 1.5px solid #FFFFFF;
		padding-bottom:24px;
		
		span{
			display: block;
			color:$white;
			text-align: center;
			font-weight: 400;
			font-size: min(16px, max(8px + 2vw));
			margin-top:16px;
		}
	
		
 	}
	
}